h2 Add User
form(ng-submit='addUser()')
  input(type='text', ng-model='email', size='30', placeholder='enter user email')
  br
  input(type='text', ng-model='password', size='30', placeholder='enter user password')
  br
  input(type='text', ng-model='duration', size='30', placeholder='enter user duration')
  br
  input(type='text', ng-model='stakes', size='30', placeholder='enter user stakes')
  br
  br
  input.btn.btn-primary(type='submit', value='Register User')