<div class="sp-card col-xs-12 col-sm-6" ng-controller="FindFriendsController">
  <div class="sp-card-content">
    <h4><i class="fa fa-clock-o"></i> Friends</h4>
    <div id="searchFriendList">
      <div ng-repeat="user in users">
        <div class="row">
          <br/>
          <div class="col-xs-1">
            <h4><i class="fa fa-circle sp-blue"></i></h4>
          </div>
          <div class="col-xs-10">
            <p><strong>{{user.displayname.first}}</strong></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>