<div class="sp-card col-xs-12 col-sm-6" ng-controller="FriendListController">
  <div class="sp-card-content">
    <h4><i class="fa fa-clock-o"></i> Friends</h4>
    <div id="friendList">
      <div ng-repeat="friend in friends">
        <div class="row">
          <br/>
          <div class="col-xs-1">
            <h4><i class="fa fa-circle sp-blue"></i></h4>
          </div>
          <div class="col-xs-10">
            <p><strong>{{friend.displayname.first}}</strong></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>