<div class="sp-card col-xs-12" ng-controller="HolidayController">
  <div class="sp-card-content">
    <h4><i class="fa fa-circle-o sp-blue"></i> Holiday Mode</h4>
    <p>Change to holiday mode if you are planning to take a study holiday. It will take effect starting the following week. Pacts will not be evaluated while in holiday mode.</p>
<!--    <div class="checkbox">
      <label class="control-label">
        <input type="checkbox" ng-model="user.holiday" ng-click="save()"> Holiday
      </label>
    </div>-->
    
    <div class="onoffswitch">
    <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch" ng-model="user.holiday" ng-click="save()">
    <label class="onoffswitch-label" for="myonoffswitch">
        <span class="onoffswitch-inner"></span>
        <span class="onoffswitch-switch"></span>
    </label>
	</div>

  </div>
</div>