<div class="sp-card-half col-xs-6" ng-controller="PasswordController">
  <div class="sp-card-content">
    <h4><i class="fa fa-circle sp-gray"></i> Change my Password</h4>
    <form name="passwordForm" novalidate ng-submit="
       passwordForm.newPassword.$valid && 
       save()">
       
      <!-- PASSWORD -->
      <div class="row">
        <div class="col-xs-12 col-sm-12">
          <div class="form-group" ng-class="{ 'has-error' : submitted && passwordForm.newPassword.$invalid}">
            <input type="password" id="newPassword" name="newPassword" ng-model="user.password" placeholder="New Password" ng-minlength=8 ng-required=true tabindex=4 class="form-control">
            <p class="help-block" ng-show="submitted && passwordForm.newPassword.$invalid">Password is too short!</p>
          </div>
        </div>
        <div class="col-xs-12 col-sm-12">
          <input type="submit" value="Update" class="btn btn-default btn-block btn-lg" tabindex="6" ng-click="submitted=true">
        </div>
      </div>

      <!-- SERVER ERROR -->
      <p ng-show="error.serverError" class="bg-danger">Unknown Server Error - please try again later!</p>
      <p ng-show="success" class="bg-info">Password has been updated!</p>
      <!-- SUBMIT -->

    </form>

  </div>
</div>