<nav id="subNav" class="navbar navbar-default" role="navigation" bs-navbar>
  <ul class="nav navbar-nav navbar-left">
    <li data-match-route="/myStudy"><a href="#/myStudy"><i class="fa fa-mortar-board"></i>&nbsp; Study</a>
    </li>
    <li data-match-route="/friends"><a href="#/friends"><i class="fa fa-users"></i>&nbsp;Friends</a>
    </li>
  </ul>
  <ul class="nav navbar-nav navbar-right">
    <li id="rightsetting" data-match-route="/settings"><a href="#/settings"><i class="fa fa-cog"></i>&nbsp; Settings</a>
    </li>
  </ul>
</nav>
