<nav ng-app="authenticationModule" ng-controller="LoginController" id="navBar" class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="#">StudyPact Logo</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a ui-sref="signup">Signup</a></li>
                <li><a ui-sref=".woot">Login</a></li>
            </ul>
        </div>
    </div>
</nav>
<div ui-view></div>