doctype html
html(ng-app='app')
head
  script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.2.6/angular.min.js')
  script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.2.6/angular-resource.min.js')
  script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.2.6/angular-route.min.js')
  script(src='/js/client/auth/authenticationController.js')
  script(src='/js/client/user/userController.js')
  script(src='/js/client/main.js')
  link(rel='stylesheet' href='//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css')
  body
    div(ng-view)