

$font-family-sans-serif: 'Lato', Helvetica, Arial;


$sp-header-height: 60px;


$sp-theme-color-primary1: #2aabe4;
$sp-theme-color-primary2: #4d4d4d;
$sp-theme-color-primary3: #fff;

$brand-primary: #2aabe4;

$btn-default-color:              #fff !default;
$btn-default-bg:                 #999 !default;
$btn-default-border:             #fff !default;

$btn-font-weight: 100;

// $sp-theme-color-secondary1: #2aabe4;
// $sp-theme-color-secondary2: #4d4d4d;
// $sp-theme-color-secondary3: #fff;
