<div class="sp-card col-xs-12 col-sm-6" ng-controller="TotalStudyTimeController">
    <div id="totalstudy" class="sp-card-content">
        <h4><i class="fa fa-clock-o"></i>
        Total studied</h4>
        <div class="row sp-blue pull-right">
          <div class="col-xs-6">
            <p class="sp-total-study-time pull-right">{{user.totals.time / 60 | number:0 | numberFixedLen:2}}</p>
            <p class="pull-right">HOURS</p>
          </div>
          <div class="col-xs-6">
            <p class="sp-total-study-time pull-right">{{user.totals.time % 60 | numberFixedLen:2}}</p>
            <p class="pull-right">MINUTES</p>
          </div>
        </div>
    </div>
</div>