<div class="sp-card col-xs-12" ng-controller="ThisWeekPactController">
  <div class="sp-card-content">
    <h4><i class="fa fa-circle-o sp-blue"></i>
    This week's pact: <span class="sp-blue">{{pact.duration / 60}}</span> hours @<span class="sp-blue">{{pact.stakes}}</span>/hour </h4>
    <div class="row sp-blue">
      <div class="col-xs-6">
        <p class="pull-left">Studied this week</p>
      </div>
      <div class="col-xs-6">
        <p class="pull-right">To go this week</p>
      </div>
    </div>
    <div class="row sp-blue">
      <div class="col-xs-6">
        <p class="sp-progress-time">{{(pact.progress) / 60 | numberFixedLen:2}}:{{(pact.progress) % 60 | numberFixedLen:2}}</p>
      </div>
      <div class="col-xs-6">
        <p class="sp-progress-time pull-right">{{(pact.duration-pact.progress) / 60 | numberFixedLen:2}}:{{(pact.duration-pact.progress) % 60 | numberFixedLen:2}}</p>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <p class="pull-right">Due Sunday at midnight in XX</p>
      </div>
    </div>
  </div>
</div>