<div class="container container--welcome">
	<div class="row">
	    <div class="col-sm-12">
	        <div class="sp-box sp-box--center">
	            <p>How StudyPact works</p>
	            <img src="assets/images/signup/ill1.png">
	            <p>Get paid when you study</p>
	            <img src="assets/images/signup/ill2.png">
	            <p>Pay others when you don't</p>
	        </div>
	    </div>
	</div>
	<div class="row">
	    <div class="col-xs-6">
	 		<button type="button" class="btn btn-default btn-lg btn-block" ng-click="signup()">Sign up</button>
	    </div>
	    <div class="col-xs-6">
	 		<button type="button" class="btn btn-primary btn-lg btn-block" ng-click="login()">Log in</button>
	    </div>
	</div>
</div>