<h2>Create New User</h2>
<p>First Name: <input type="text" ng-model="newUser.displayname.first" size="50" name="newUser.current_earnings"></p>
<p>Last Name: <input type="text" ng-model="newUser.displayname.last" size="50" name="newUser.current_earnings"></p>
<p>Email: <input type="text" ng-model="newUser.email" size="50" name="newUser.email"></p>
<p>
  <label>password</label>
  <input type="password" ng-model="newUser.password" size="30" placeholder="enter user password"/>
</p>
<button class="btn btn-primary" type="submit" ng-click="createUser()">Create</button>
